body {
  /* background-image: url("images/gplaypattern.png"); */
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

a:hover, a:visited {
  text-decoration: none;
  color: #ffffff;
}

.nav {
  border-bottom: 2px solid #446792;
  height: 35px;
  background: #9ea5a9;
}

.container {
  display: flex;
  justify-content: center;
}

/* orbit animation */

.orbit {
  position: absolute;
  left: 5%;
  top: 5%;
}

.planet {
  left: 5%;
  top: 5%;
  position: absolute;
  z-index: 99;
  height: 75px;
}

.gravity {
  z-index: 99999;
  animation: sideToSide 2s infinite ease-in-out alternate;
  position: absolute;
  margin-left: 8px;
}

img.moon {
  z-index: 9999;
  position: absolute;
  left: 20%;
  top: 20%;
  animation: satellite 4s linear infinite;
  margin-left: -30px;
  margin-top: 15px;
  transform-origin: 30px center;
}

@keyframes satellite {
  to {
    transform: rotate(1turn);
  }
}

@keyframes sideToSide {
  to {
    transform: translateX(100px);
  }
}

/* signature animation */

.bars {
  display: flex;
  justify-content: center;
}

.horizontal-bar {
  margin-left: 100px;
  height: 6px;
  width: 1300px;
  background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);
  z-index: 99;
}

.vertical-bar {
  height: 800px;
  width: 6px;
  background: linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D);
  z-index: 99;
  position: absolute;
  left: 80%;
  top: 5%;
}

.main {
  z-index: 9;
  margin-top: 8%;
  margin-left: 34%;
  background-image: url("images/forest1.jpg");
  height: 700px;
  width: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main.active {
  z-index: 9;
  margin-top: 8%;
  margin-left: 34%;
  background-image: none;
  height: 700px;
  width: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-nav {
  height: 600px;
  margin-top: 3%;
  font-size: 15px;
  text-transform: uppercase;
  list-style-type: none;
  font-family: Raleway;
  font-weight: bold;
  width: 300px;
  position: absolute;
  left: 1%;
}

.main-nav li {
  border-bottom: 2px solid white;
  width: 100px;
  padding: 7px;
  margin: 35px;
  display: block;
  list-style-type: none;
}

.donny-text {
  position: relative;
  text-transform: capitalize;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  left: 20%;
}

.descriptor-text {
  position: relative;
  left: 20%;
  font-size: 12px;
  margin-bottom: 30%;
}

.content {
  font-family: Raleway;
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  top: 25%;
  left: 34%;
  z-index: 99;
  height: 500px;
  width: 400px;
}

.home-content {
  background: white;
  visibility: hidden;
  font-size: 20px;
  color: #666666;
  padding: 25px;
}

.widgets-content {
  visibility: hidden;
  position: absolute;
  top: 50%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.widgets-content button {
  padding: 15px 30px;
  font-family: Raleway;
  font-size: 20px;
  border: 3px solid #5a5a5a;
  margin: 25px;
  background-color: #ffffff;
}

.widgets-content button.button-light-switch {
  border: none;
}

#b3Eb3Y66Aw {
  stroke-dasharray: 2784;
  stroke-dashoffset: -2784;
  /* animation: dash 2s ease-in-out infinite; */
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

.button-check:hover {
  border: 5px solid #7000ff;
  color: #7000ff;
}

.button-these:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.button-lamp img, .button-gears img, .button-blackhole img, .button-best img, .button-beat svg {
  height: 75px;
}

.button-orange img {
  height: 50px;
}

.button-gears img:hover {
  animation: cog 3s linear infinite;
  transform-origin: center;
}

/* orbit animation */

.new-planet {
  left: 5%;
  top: 5%;
  z-index: 99;
  height: 75px;
}

.new-orbit .new-moon {
  left: 25px;
  top: 25px;
  z-index: 9;
  animation: myOrbit 5s linear infinite;
}

@keyframes myOrbit {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(0px) rotate(0deg);
  }
  50% {
    transform: rotate(360deg) translateX(40px) translateY(40px) rotate(-360deg);
  }
  100% {
    transform: rotate(360deg) translateX(0px) translateY(0px) rotate(-360deg);
  }
}

p.header-text {
  border-bottom: 2px solid #333;
  width: 250px;
  margin-bottom: 5%;
}

@keyframes cog {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-blackhole img.active {
  animation: hole 3s linear infinite;
}

@keyframes hole {
  0% {
    opacity: 1;
    transform: scale(1.0);
  }
  50% {
    opacity: .75;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}

.dots {
  height: 10px;
  width: 10px;
  /* opacity: 0; */
  background-color: #000000;
  border-radius: 50px;
  position: relative;
  animation: pull 1s linear infinite;
}

@keyframes pull {
  0% {
    /* opacity: 0; */
  }
  50% {
    opacity: 1;
    transform: scale(1.0);
  }
  100% {
    transform: scale(.5);
    opacity: 0;
    top: -40px;
    left: 40px;
  }
}

.gears, .indie-album {
  height: 85px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.gears:hover, .indie-album:hover {
  box-shadow: none;
}

.home-content a {
  margin-right: 20px;
}

.gk-banner {
  height: 300px;
}

strong {
  font-size: 25px;
}

/* --------------- ring situation --------------- */

/* .gravity {
  position: absolute;
  top: 15%;
  left: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.outer-ring, .middle-ring, .inner-ring {
  position: absolute;
  border: 2px solid #000000;
  border-radius: 50px;
}

.outer-ring {
  height: 75px;
  width: 75px;
  border: 2px solid #000000;
  animation-delay: 1s;
  animation: pulse 3s linear infinite;
}

.middle-ring {
  height: 50px;
  width: 50px;
  animation: pulse 2s linear infinite;
}

.inner-ring {
  background: #000000;
  height: 22px;
  width: 22px;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/* --------------------- widgets content ---------------------  */

.widgets-content {
  font-size: 20px;
  visibility: hidden;
  position: absolute;
  top: -12%;
  display: block;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-evenly;
  background: white;
}

.widgets {
  border-bottom: 2px solid white;
}

.widgets.active {
  border-bottom: 2px solid black;
}

.widgets-content.active {
  visibility: visible;
}

/* --------------------- logos content ---------------------  */

.logos-content {
  font-size: 20px;
  visibility: hidden;
  position: absolute;
  top: -12%;
  display: block;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-evenly;
  background: white;
}

.logos {
  border-bottom: 2px solid white;
}

.logos.active {
  border-bottom: 2px solid black;
}

.logos-content.active {
  visibility: visible;
}

/* --------------------- about content ---------------------  */

.about-content {
  font-size: 20px;
  visibility: hidden;
  position: absolute;
  top: -12%;
  display: block;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-evenly;
  background: white;
}

.about {
  border-bottom: 2px solid white;
}

.about.active {
  border-bottom: 2px solid black;
}

.about-content.active {
  visibility: visible;
}

.folder-links {
  margin-top: 5%;
}

.folder-links a {
  margin: 10px;
  padding: 10px;
}

/* --------------------- home content ---------------------  */

.home {
  border-bottom: 2px solid white;
}

.home.active {
  border-bottom: 2px solid black;
}

.home-content.active {
  visibility: visible;
}

.logo-text {
  text-align: left;
  margin-bottom: 40px;
}

.logos-content img {
  margin: 20px;
}

/* ------------------------ */

.bookmarker, .beatroot, .roof, .peach {
  height: 150px;
}

.tenns {
  margin-top: 50px !important;
  height: 100px;
}

.oliverw {
  height: 120px;
}

.teamjim, .speakup, .handyman {
  height: 170px;
}

.handyman {
  margin-top: -10px !important;
}

.footer-links {
  position: absolute;
  top: 80%;
  left: 7%;
  display: flex;
  justify-content: center;
}

.footer-links a {
  margin-right: 30px;
  font-family: raleway;
  font-size: 15px;
  color: black;
  /* margin: 10px; */
  bottom: -40px;
  position: relative;
}

.footer-links img {
  height: 35px;
}

.footer-links a:hover {
  text-decoration: none;
}